<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header"> <h3><%= link_to "GrowCart", items_path , id: "logo" %></h3></div>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
  </div>
</header>